@charset "utf-8";
h1 {
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	margin-right: 0px;
	margin-left: 0px;
	padding-bottom: px;
}
#titulo1 {
	margin-left: 67px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 50px;
}
#main_title #logo {
	margin-bottom: px;
	margin-top: px;
	padding-top: px;

}
nav ul li{
	
	text-align: right;
	font-size: 20px;
 	text-decoration: none;
 	float: right;
 	padding: 15px;
}
body {
	background-color: #CBB482;
	margin-left: 15%;
	margin-right: 15%;
}
h2 {
	font-size: small;
}
